body {
    background-color: #FFFFFF;
}

#Menú {
    background-color: #afc4f4;
    padding: 10px;
    font-size: 22pt;
    font-family: 'Roboto';
    color: #577394;
    text-align: center;
    vertical-align: middle;
    height: 100px;
    display: flex;
    align-items: center;
}

#Menú a:hover {
    color: #7599af;
}

#Menú a {
    color: #577394;
    font-family: 'Roboto';
    font-size: 18pt;
    text-decoration: none;
}

#logo-text {
    font-family: 'Roboto';
    font-size: 24pt;
    color: #577394;
    text-align: left;
}

img.logo {
    width: 80px;
    height: 90px;
    text-align: center;
    float: left;
    padding-bottom: 10px;
}

#logo-container {
    justify-content: center;
    height: 100%;
    text-align: left;
    padding: 10px;
    padding-right: 5cm;
}

span.links-menu {
    padding-left: 25px;
    padding-right: 25px;
}

#Contenido {
    text-align: center;
    padding: 50px;
    font-family: 'Roboto';
    color: #577394;
    background-color: #bcccdc;
    height: fit-content;
    font-size: 18pt;
    font-weight: bold;

}

#imagen-principal {
    width: 80%;
    height: 80%;
    margin-bottom: 5%;
}

#Contenido h1 {
    font-size: 36pt;
    margin-bottom: 5%;
    font-family: 'Poppins';
    font-weight: bold;
}

#contact-info  {
    font-size: 18pt;
    font-family: 'Roboto';
    font-weight: bold;
    color: #6e8db1;
    display: block;
    text-align: center;
}
#contact-info strong {
    font-weight: bold;
    font-size: 22pt;
    color: #577394;
    font-family: 'Poppins';
}

#servicios-list {
    display: inline-block;
    text-align: left;
}

#servicios-list a {
    color: #6491c4;
    font-family: 'Roboto';
    font-size: 18pt;
    text-decoration: none;
}

#servicios-list a:hover {
    color: #8cb9e0;
}

#servicios-list hr {
    border: 2px solid #334c68;
    margin: 10px ;
}

#footer {
    background-color: #afc4f4;
    padding: 10px;
    font-size: 14pt;
    font-family: 'Roboto';
    color: #577394;
    text-align: center;
}
